<div class="container mainPage">
    <div class="pageTitle">Services</div>
    <p><img src="../../../assets/img/Studio1.jpg" style="float: left; width: 300px; margin-right: 25px;" />
        <b>Counseling:</b> Brie is not diagnosing &amp; treating mental health conditions at this time.
        Counseling services being offered include psychoeducation, motivational interviewing, social work 
        case management, and mindfulness coaching. <b>Psychoeducation</b> is an educational approach to exploring
        concepts and skills for clients to apply in their daily lives. Concepts and skills to explore 
        include those from Cognitive Behavior Therapy, Cognitive Processing Therapy, Dialectical Behavior 
        Therapy, Acceptance / Commitment Therapy, and Existential Therapy. <b>Motivational interviewing</b> is a 
        client-centered counseling style for bringing about behavior change by helping clients to explore 
        and resolve ambivalence. <b>Social work case management</b> assesses the needs of the client and arranges, 
        coordinates, monitors, evaluates, and advocates for multiple services and community resources to 
        meet the client’s needs. <b>Mindfulness coaching</b> is based on meditation training from the Sōtō school 
        of Zen Buddhism, breath and body exercises from the Chinese Internal Martial Arts (e.g. Tai Chi Chuan,
        Qigong), and mindfulness skills based on modern Western sciences.</p>
    <p><img src="../../../assets/img/Studio2.jpg" style="float: right; width: 300px; margin-left: 25px;" />
        <b>Psychosomatic therapy:</b> Brie offers <b>Mindful Awareness in Body Oriented Therapy</b> (MABT). MABT helps people 
        integrate mental and sensory processes, facilitating embodiment through cultivation of inner connection and 
        an expanded sense of self. MABT facilitates self-awareness and emotion regulation, and thus can useful for
        coping with stressful life events, symptom management, and health promotion. MABT can be helpful
        for people living with chronic physical/mental conditions or recovering from chemical dependency. For
        more information on MABT, please visit <a href="http://www.cmbaware.org/about-mabt/">http://www.cmbaware.org/about-mabt/</a></p>
        <p><b>Massage therapy:</b> Brie's massage therapy style is a blend of relaxation (Swedish), soft tissue
        treatment (Deep Tissue Sculpting, Myofascial Release, Neuromuscular Techniques), and energy
        work (Qi Massage).</p>
    <div>
        <a href="https://squareup.com/gift/VY8QBWFKGEKSE/order?fbclid=IwAR3O00SEbRQXXenXAXWHWJ2vjk8KGi83NWho8B7vC-JHxleiii_tJdPhmkA">
            <img src="../../../assets/img/giftcards.jpg" width="300px" style="display:block; margin: 0 auto;" />
        </a>
    </div>
</div>