<div class="container mainPage">
    <div class="pageTitle">About</div>
    <p><img src="../../../assets/img/Brie.jpg" style="float: left; width: 250px; margin-right: 25px;" />
    <b>Brie Chang</b> (she/her) is a mind-body therapist with a mission to
    facilitate holistic wellness, especially for professional care providers
    (e.g. therapists, social workers, physicians) as well as
    Queer/Trans/People of Color communities. Brie sees her practice
    as a form of activism – supporting the healing, resilience, and
    sustainability of individuals and communities at the forefront of
    historical oppression and trauma.</p>
    <p>
    Working with Brie is characterized by a relational dynamic that
    defies the rigidity of traditional client-provider interactions. Clients
    have described working with Brie as calming, resonant, affirming,
    and humorous. Brie’s approach to healing is based on trauma
    informed practice, intersectional feminism, de-colonizing methodology, and evidence-based
    interventions. Brie's practice seeks to stay grounded through her grassroots activism network as well
    as her personal lived experiences as a transgender woman, disabled veteran, and second generation
    Chinese American. In her spare time, Brie enjoys cooking, performing standup comedy, and cuddling
    with her canine companion Milo.</p>
    <b><u>Curriculum Vitae</u></b><br />
    Academic:
    <ul>
        <li>University of Washington, Doctor of Philosophy in Nursing Science (Candidate)</li>
        <li>Bellevue Massage School, License in Massage Therapy (2018)</li>
        <li>University of Washington, Master in Social Work (2015)</li>
        <li>University of California in Irvine, Bachelor’s in Psychology (2006)</li>
    </ul>
    Professional:
    <ul>
        <li>DreamClinic, Massage Therapist (March 2018-present)</li>
        <li>Catholic Community Services, On-Call Clinician/Case Manager (2015 - present)</li>
        <li>Freedom Project, Director of Community & Org. Development (2014-2017)</li>
        <li>Univ. of Washington, School of Social Work, Field Education Supervisor (2017)</li>
        <li>Univ. of Washington, School of Social Work, Teaching Assistant (2016)</li>
        <li>Social Development Research Group, Practicum Student (2014)</li>
        <li>Therapeutic Health Services, Practicum Student (2014)</li>
        <li>Atlantic Street Center, Practicum Student (2014)</li>
        <li>Catholic Community Services, Clinician/Case Manager (2013-2015)</li>
        <li>United States Army (2009-2013)</li>
    </ul>
    Research / Independent Studies:
    <ul>
        <li>Univ. of Washington, School of Social Work (2013-2014)</li>
        <li>Univ. of Washington, College of Built Environments (2013)</li>
        <li>Univ. of California Irvine, Department of Neuropsychiatry (2008)</li>
        <li>Univ. of California Irvine, Department of Psychology & Social Behavior (2007-2008)</li>
        <li>Univ. of California Irvine, Department of Medicine (2005-2006)</li>
        <li>Univ. of California Irvine, Department of Humanities (2004)</li>
        <li>Univ. of California Irvine, Department of Psychiatry & Human Behavior (2003)</li>
        <li>Univ. of CA Irvine, Department of Neurobiology & Behavior (2002-2003)</li>
    </ul>    
</div>