<script src="./app/components/contact/contact.js"></script>
<div class="container">
    <div class="pageTitle">Contact Us</div>
    <!-- <div class="row contactOptions">
        <div class="col-md-3" id="mapBlock"><i class="fas fa-map-marker-alt"></i><br />
        340 15th Ave E, Ste 305<br />
        Seattle, WA 98122</div>
        <div class="col-md-3" id="phoneBlock"><i class="fas fa-phone"></i><br />
        206-659-5273</div>
        <div class="col-md-3" id="emailBlock"><i class="fas fa-at"></i><br />
        bachang.msw@gmail.com</div>
        <div class="col-md-3" id="facebookBlock"><i class="fab fa-facebook-square"></i><br />
        facebook.com/<br />
        SpectrumMindBodyWorks</div>
    </div> -->
    <div class="row contentBlocks">
        <div class="col-md-3" id="mapBlock"><i class="fas fa-map-marker-alt"></i><br />
        340 15th Ave E, Ste 305<br />
        Seattle, WA 98122</div>
        <div class="col-md-3" id="phoneBlock"><i class="fas fa-phone"></i><br />
        206-659-5273</div>
        <div class="col-md-3" id="emailBlock"><i class="fas fa-at"></i><br />
        bachang.msw@gmail.com</div>
        <div class="col-md-3" id="facebookBlock"><i class="fab fa-facebook-square"></i><br />
        facebook.com/<br />
        SpectrumMindBodyWorks</div>
    </div>

    <br />
    <p>
        <b>Leave us a message:</b>
        <form class="contactForm">
            <div class="form-group row">
                <label for="name" class="col-md-2">Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" placeholder="First, Last">
                </div>
                <label for="pronouns" class="col-md-2">Pronouns:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="pronouns">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-2">Email:</label>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="email">
                </div>
                <label for="phone" class="col-md-2">Phone:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="message" class="col-md-2">Message:</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="message" rows="5"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="valSum">
                        At least a Name and Email and/or Phone number is required
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="processForm" type="submit" class="btn mb-2">Submit</button>
                </div>
            </div>
        </form>
        <br />
        <p><b>DIRECTIONS</b><br />
            You can find us on the upper floor of the Greenlind building above dance underground, between SMITH and Kanak restaurants. 
            In the main foyer, enter 9*8888 at intercom to come up the stairs. Suite 305 is down the hall and the last doors on the left and right.</p>
        <div style="width: 100%; text-align: center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.2315193906234!2d-122.31443478400253!3d47.62163069493221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490152b5e2cffbf%3A0x3f064b705f66e012!2s340+15th+Ave+E+%23305%2C+Seattle%2C+WA+98112!5e0!3m2!1sen!2sus!4v1526079045963" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <p><b>PARKING</b><br />
            Behind the building are two parking lots in the alley between 15th and 16th. They are $1 for up to two hours with a credit card terminal.  
            One and two hour street parking also available.</p>
    </p>
</div>